.card {
  width: 100%;
  height: 100%;
  min-width: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: var(--color-bg-card);
  border: 0.2rem solid var(--color-divider);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  filter: grayscale(80%) brightness(70%);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: grayscale(80%) brightness(100%);
}

.selected {
  width: 100%;
  height: 100%;
  min-width: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-card);
  border: 0.2rem solid var(--color-brand-gold);
  filter: none;
  transition:
    transform 0.2s ease-in-out,
	filter 0.1s ease-in-out,
	border 0.1s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.stageImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
