.builderContainer {
  display: grid;
  gap: 1rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-8);
  align-items: start;
}

.stageList {
  list-style: none;
  margin: 0;
  margin-top: var(--space-12);
  padding: 0;
  display: grid;
  gap: 0.75rem;
}

.stageItem {
  width: 100%;
}

@media (width < 960px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
