.subtitle {
  font-weight: var(--font-weight-semibold);
  color: var(--color-brand-cyan);
  text-transform: uppercase;
}

.heading {
  margin-bottom: var(--space-4);
  font-weight: var(--font-weight-bold);
}
